@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --preto: rgb(0, 0, 0);
    --cinza: rgb(20, 20, 20);
    --cinza-claro: rgb(38, 38, 38);
    --branco: rgb(255, 255, 255);
    --lima: rgb(196, 247, 41);
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--branco);
    height: 100vh;
}

li:hover {
    color: rgb(60, 90, 90);
    transition: all 0.4s;
}

#modelos-de-carros {
    font-size: 20px;
    font-family:"Inter", sans-serif;
    font-style: italic;
    background-color: var(--branco);
}

#modelos-de-carros li::maker {
    color: var(--lima);
}